<%include partials/header %>
	<script>
		function validate() {
			var existingAuthor = document.getElementById("existingAuthor");
			var newAuthor = document.getElementById("newAuthor");

			if (existingAuthor.value > 0 && newAuthor.value) {
				newAuthor.focus();
				alert("Please provide a new author, or an existing author, or neither, but not both.");
				return false;
			} else {
				return true;
			}
		}
	</script>
	<h3>Update "<%= thisMicroPost.title %>" here:</h3>

	<form method="POST" action="/micro_post/<%= thisMicroPost.id %>?_method=PUT" onsubmit="return validate()">
		Title:&nbsp;<input type="text" name="title" value="<%= thisMicroPost.title %>" required><br><br>
		Body:<br><textarea rows="10" cols="50" name="body" placeholder="" wrap="virtual" required><%= thisMicroPost.body.replace(/&nbsp;/g, " ").replace(/<br>/g,"\n") %></textarea><br><br>
		<% if (Object.keys(authors).length > 1) { // yes, > 1.  We have a "fake" author with id=0. %>
			<p>Optionally, add an existing Author&apos;s name:<br>
			<select id="existingAuthor" name="author_id">
				<% Object.keys(authors).forEach(function(key) { %> 
					<option value="<%= authors[key].id %>"<%if (authors[key].id === thisMicroPost.author_id) { %> selected<% } %>><%= authors[key].name %></option>
				<% }) %>
			</select></p>
			Or, add a new Author (or don&apos;t):<br>
		<% } else { %>
			Optionally, add an Author:<br>
		<% } %>

		<input type="text" id="newAuthor" name="newAuthor" placeholder="new author's name"><br><br>
		Add (edit) a <strong>comma, separated, list</strong> of tags for this post here (if you want):<br>
		
		<% if (tags.length > 0) { 
			var tlist = "";
			for (var i=0; i<tags.length; i++) { tlist += tags[i].name+","; }
			tlist=tlist.replace(/,$/,""); %>
			<input type="text" id="tags" name="tags" value="<%=tlist%>"><br><br>
		<% } else { %>
			<input type="text" id="tags" name="tags" placeholder="tag list here"><br><br>
		<% } %>

		Add a link (as a snippet) to this post here:
		<input type="text" id="snippet" name="snippet" placeholder="url goes here"><br><br>

		<button type="submit">Submit Changes</button>
	</form><br><br>
	<small><a href="/micro_post/<%= thisMicroPost.id%>" method="GET">Or, Cancel this update and go back.</a><br>
	<a href="/microblog" method="GET">Or go back Home.</a></small>
<% include partials/footer %>
