<% include partials/header %>
	<h2><%= thisMicroPost.title %></h2>

  	<p><%- thisMicroPost.body %></p>
 	<p>
	<% if (author.name) { %>
		Author: <%= author.name %>
	<% } else { %>
		<small>This post has no author.</small>
	<% } %>
	</p>
	<p>
	<% if (tags.length > 0) { %>
		Tags associated with this post:<br>
		<% for(var i=0; i<tags.length; i++) { %>
			<%= tags[i].name %><br>
		<% } %>
	<% } else { %>
		<small>This post has no tags.</small>
	<% } %>
	</p>

	<p>
	<% if (snippets.length > 0) { %>
		Snippets associated with this post:<br>
		<% for(var i=0; i<snippets.length; i++) { %>
			<li><div><a href="<%= snippets[i].url %>">Snippet <%= i %></a></div></li>
		<% } %>
	<% } else { %>
		<small>This post has no snippets.</small>
	<% } %>
	</p>
 
	<a href="/microblog">Go home here.</a><br><br>
	<a href="/micro_post/<%= thisMicroPost.id %>/edit">Update this post here</a><br><br>
	<form method="POST" action="/micro_post/<%= thisMicroPost.id %>?_method=DELETE">
		<button>Delete this post</button>
	</form>
<% include partials/footer %>